/* Fontes

/* configurando o bootstrap - cores*/
:root, :root[data-theme='dark'] { /* tema= escuro */
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
  --primary-border-color: #28292E;
	--secondary-border-color: #56575A;

  --title-color: #F0F0F0;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;
}

body {
  font-size: 100%;
  font-family: 'Sarala', sans-serif;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%); /* mudar */
  color: #FFF2E7;
}

/* Cabeçalho */
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

/* .cabecalho-imagem {
  height: 50px;
}
 */
.cabecalho-menu {
  display: flex;
  gap: 32px;
  margin-left: auto;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

/* Conteúdo */
.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
  padding: 24px;
}

.conteudo-principal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.conteudo-escrito {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.conteudo-titulo {
  font-family: 'Righteous', cursive;
  font-size: 48px;
  max-width: 600px;
}

.conteudo-subtitulo {
  font-size: 18px;
  color: #ECD6C4;
  max-width: 550px;
  text-align: justify;
}

.conteudo-imagem {
  padding: 15px;
  border-radius: 10%;
  height: 400px;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.conteudo-imagem:hover {
  transform: scale(1.1);
}


a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--primary-color);
} 

/* Hard e Soft Skills */
.hard-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.hard-skills img {
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
}

.hard-skills img:hover {
  transform: scale(1.1);
}

.soft-skills {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.soft-skills li {
  background: rgba(255, 255, 255, 0.1);
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  transition: 0.3s;
}

.soft-skills li:hover {
  background: rgba(255, 255, 255, 0.3);
}


/* botão */
.botao {
  background-color: #ECD6C4;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.botao:hover {
  background-color: rgba(236, 214, 196, 0.7);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  background: transparent;
  border-radius: 3.125rem;
  border: none;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out .3s;
  cursor: pointer;
  color: var(--primary-color);
}

.btn:hover {
  transform: scale(1.05);
  transition: ease-in-out .3s;
}

.btn span, .btn i {
  font-size: 1rem;
  text-transform: uppercase;
}

.btn--primary span {
  color: var(--primary-color);
}

.btn--primary {
  border: 1px solid var(--primary-color);
}


/* Experiência */
.experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
/*   gap: 16px; */
  margin-top: 48px;
}

.experiencia-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 32px;
  font-size: 28px;
}

/* .experiencia-paragrafo {
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
} */

.timeline {
  position: relative;
  padding-left: 40px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5rem;
  margin: 0 auto 1rem auto;
  overflow: hidden;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: white;
}


.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  border-right: 2px dashed;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}

.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 15px;
  text-align: right;
  margin-right: 20px;
/*   color: #bcd0f7; */
  font-size: 1.5rem;
}

.timeline-row .timeline-time small {
  display: block;
  font-size: 0.8rem;
}

.timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.1);   
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 16px;
  width: 16px;
  background: #99807B;
}

.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -49px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 10;
  background: #99807B;
  border: 2px dashed #99807B;
}

.timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
}

.timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}

.timeline-row .timeline-content i {
  font-size: 1.2rem;
  line-height: 100%;
  padding: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #99807B;
  margin-bottom: 10px;
  display: inline-block;
}

.timeline-row .timeline-content .thumbs {
  margin-bottom: 20px;
  display: flex;
}

.timeline-row .timeline-content .thumbs img {
  margin: 5px;
  max-width: 60px;
}

.timeline-row .timeline-content .badge {
  color: #ffffff;
  background: #a38068; /* linear-gradient(120deg, #00b5fd 0%, #0047b1 100%); */
}

.timeline-row:nth-child(even) .timeline-content {
  margin-left: 40px;
  text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
  left: -8px;
  right: initial;
  border-bottom: 0;
  border-left: 0;
  transform: rotate(-135deg);
}

.timeline-row:nth-child(even) .timeline-content:before {
  left: -52px;
  right: initial;
}

.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
  margin-right: 40px;
}

.timeline-row:nth-child(odd) .timeline-content:after {
  right: -8px;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}


 /* Projetos */
.projetos {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
/*   gap: 16px; */
  margin-top: 48px;
}

.projetos-titulo {
  text-align: center;
  font-size: 28px;
  margin-bottom: 24px;
  border-top: 0.4px solid #FFF2E7;
  padding-top: 32px;
  font-size: 28px;
}

.projetos_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.container_filho {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.container_filho:hover {
  transform: scale(1.05);
}

.titulo {
  font-size: 1.2rem;
  text-align: center;
  background-color: #8E5D52;
  padding: 8px;
  border-radius: 8px;
  color: white;
}

.container_filho img {
  width: 100%;
  border-radius: 8px;
  transition: filter 0.3s ease-in-out;
}

.container_filho img:hover {
  filter: brightness(0.7);
  cursor: pointer;
}

.card-row .card-content .badge {
  color: #ffffff;
  background: #a38068; /* linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);  */
}

.github {
  width: 500px;
  align-items: center;
}

/* Rodapé */
/* .rodape {
  padding: 32px;
  border-top: 0.4px solid #FFF2E7;
  text-align: center;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}
 */